<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/canvasjs.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.v4.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.layout.cloud.js') }}"></script>

    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
    
  </body>
</html>
